<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>

    <logger name="com.bellintegrator.bankaccount" level="INFO" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </logger>

    <logger name="org.springframework" level="WARN" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </logger>

    <logger name="org.apache" level="WARN" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </logger>

</configuration>
