<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <h1>Error</h1>
  <p th:text="${errorMessage}">An unexpected error occurred. Please try again later.</p>
  <a href="/" class="btn btn-primary">Back to Sign In Form</a>
</div>
</body>
</html>
