<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Passwords</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Passwords</h1>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Password</th>
            <th>Client Id</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="password : ${passwords}">
            <td th:text="${password.id}"></td>
            <td th:text="${password.clientPassword}"></td>
            <td th:text="${password.clientId}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
